<div class="wrapper">

  <header class="main-header">

    <a href="index2.html" class="logo">
      <span class="logo-mini"><b>R</b>SL</span>
      <span class="logo-lg"><b>Reforest</b>SL</span>
    </a>

    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <!--TODO-->
      <!--<div class="user-panel">-->
        <!--<div class="pull-left image">-->
          <!--<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">-->
        <!--</div>-->
        <!--<div class="pull-left info">-->
          <!--<p>Alexander Pierce</p>-->
          <!--<a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
        <!--</div>-->
      <!--</div>-->

      <ul class="sidebar-menu">
        <li class="header">HOME NAVIGATION</li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
            <li class="active"><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        News Feed
        <small>Events and Posts</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">News Feed</li>
      </ol>
    </section>

    <section class="content">
      <router-outlet>
<!---->
        <div class="col-md-6">
          <div class="box box-widget">
            <div class="box-header with-border">
              <div class="user-block">
                <!--<img class="img-circle" src="../dist/img/user1-128x128.jpg" alt="User Image">-->
                <span class="username" style="margin-left: 0px !important;"><a href="#">Jonathan Burke Jr.</a></span>
                <!--<span class="description">Shared publicly - 7:30 PM Today</span>-->
              </div>
            </div>

            <div class="box-body">
              <img class="img-responsive pad" src="http://localhost:8080/assets/dvios.jpg" alt="Photo">
              <h3>This is the title of what ever it is</h3>
              <p>I took this photo this morning. What do you guys think?</p>
            </div>

          </div>
        </div>
<!---->
      </router-outlet>
    </section>
  </div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2017 <a href="http://www.dvios.org">DVios Technologies</a>.</strong> All rights
    reserved.
  </footer>

  <div class="control-sidebar-bg"></div>

</div>
