<div class="login-box">
  <div class="login-logo">
    <a><b>Reforest </b>Sri Lanka</a>
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email" [(ngModel)]="authData.email" name="email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="authData.password" name="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-7 col-xs-offset-1">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox" [(ngModel)]="authData.rememberMe" name="rememberMe"> Remember Me
            </label>
          </div>
        </div>

        <div class="col-xs-4">
          <button class="btn btn-primary btn-block btn-flat" (click)="loginNormal()">Sign In</button>
        </div>
      </div>
    </form>

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div>

    <a href="#">I forgot my password</a><br>
    <a href="register.html" class="text-center">Register a new membership</a>

  </div>
</div>

